@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(45deg,#0a0a0a,#3a4452);
}

.calculator{
    border:3px solid #eaecf0;
     padding:20px;
     border-radius: 16px;
     background:transparent;
     box-shadow:5px 15px 15px rgba(249, 245, 246, 0.954);

}
input{
    width:320px;
    border: none;
    padding:24px;
    margin:10px;
    background:transparent;
    box-shadow:3px 5px 15px rgba(182, 180, 180, 0.884);
    font-size:40px;
    text-align:right;
    cursor:pointer;
    color:#04f761;
    border:3px solid #ffff;
    border-radius: 30px;
}
input::placeholder{
    color:#0fdc6b;

}
button{
    border:none;
    width: 60px;
    height:60px;
    margin:10px;
    border-radius: 50%;
    background:transparent;
    color:#e0e0ea;
    background: rgba(89, 189, 189, 0.674);
    font-size:20px;
    box-shadow: 8px,8px,15px rgba(255,255,255,0.1);
    cursor:pointer;

}
.equalBtn{
    background-color: #df6b0c;


}
.operator{
    color:#27b9cf;
